/* CSS HEX */
:root {
    --cod-gray: #1c1c1c;
    --crusta: #fb842c;
    --mine-shaft: #242424;
    --pastel-green: #55ea56;
    --tundora: #4d4d4d;
    --tundora-dark: #2d2d2d;
    --hover: #183d66;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cod-gray);
    font-family: Arial, 'sans-serif';
    color: white;
    height: 100vh;
}

.main {
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.word-container {
    display: flex;

    /* used for debug
      border: 5px solid black;*/
}

.header {
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 32px;
    font-weight: bolder;
}

.footer {
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    padding: 32px;
}

.content {
    align-items: center;
    gap: 16px;
    padding: 0;
    flex-direction: column;
}

#grid {
    flex: 1;
    justify-content: center;
    align-items: center;
}

#options {
    flex: 1;
    padding: 32px;

    flex-direction: column;
}

.option-row {
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#options_buttons {
    flex: 1;
    justify-content: space-between;
}

.option-button {
    background-color: var(--tundora);
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-weight: bolder;
    font-size: 16px;

    padding: 8px;
    margin: 0;

    text-align: center;
}

.option {
    background-color: var(--tundora);
    color: white;
    font-weight: bolder;
    border-radius: 0;

    font-size: 16px;

    padding: 5px;
    width: 35px;
    height: 35px;

    margin-bottom: 9px;

    text-align: center;
}

.option, .option-button {
    box-shadow: 0 9px var(--tundora-dark);
}

.option:hover, .option-button:hover {
    background-color: var(--hover);
}

.option:active, .option-button:active {
    background-color: var(--hover);
    box-shadow: 0 5px #000;
    transform: translateY(4px);
}

.grid-table {
    flex-shrink: 0;
}

.grid-table td {
    background-color: var(--tundora);
    color: white;
    font-weight: bolder;
    font-size: 32px;

    border: 3px solid var(--cod-gray);

    width: 80px;
    height: 80px;

    padding: 0;
    margin: 0;

    text-align: center;
}

