/* CSS HEX */
:root {
    --cod-gray: #1c1c1c;
    --crusta: #fb842c;
    --mine-shaft: #242424;
    --pastel-green: #55ea56;
    --tundora: #4d4d4d;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cod-gray);
    font-family: Arial;
    color: white;
    height: 100vh;
}

.container {
    display: flex;

    border: 5px solid black;
}

.header {
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 32px;
    font-weight: bolder;
}

.footer {
    flex: 1;
}

.content {
    align-items: center;
    gap: 32px;
    padding: 32px;
    flex-direction: column;
}

#grid {
    flex: 1;
    justify-content: center;
    align-items: center;
}

#options {
    flex: 1;
    padding: 32px;

    flex-direction: column;
}

.option-row {
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#options_buttons {
    flex: 1;
    justify-content: space-between;
}

.option-button {
    background-color: var(--tundora);
    color: white;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    font-weight: bolder;
    font-size: 16px;

    padding: 8px;
    margin: 0;

    text-align: center;
}

.option {
    background-color: var(--tundora);
    color: white;
    font-weight: bolder;
    font-size: 16px;

    width: 25px;
    height: 25px;

    padding: 8px;
    margin: 0;

    text-align: center;
}

.grid-table {
    flex-shrink: 0;
}

.grid-table td {
    background-color: var(--tundora);
    color: white;
    font-weight: bolder;
    font-size: 32px;

    border: 2px solid var(--cod-gray);

    width: 80px;
    height: 80px;

    padding: 0;
    margin: 0;

    text-align: center;
}

